<div class="container pt-5">
    <div style="text-align: center"><h1>Contact Mentor-Hub</h1></div><hr>

<div class="card-deck pt-5">
        <div class="card">
          <img class="card-img-top" src="../assets/image/contact1.png" alt="Card image cap">
          <div class="card-body"><hr>
              <p style="font-size: 20px">Contact us on <br> <a href="">+91-1234567890</a></p>
          </div>
        </div>&nbsp;
        <div class="card">
          <img class="card-img-top" src="../assets/image/mail.png" alt="Card image cap">
          <div class="card-body"><hr>
                <p style="font-size: 20px">Mail us on<br> <a href="">mentorhub@ymail.com</a></p>
          </div>&nbsp;
        </div>
        <div class="card">
          <img class="card-img-top" src="../assets/image/fb-icon.jpg" alt="Card image cap">
          <div class="card-body"><hr>
                <p style="font-size: 20px">Follow us on <br> <a href=""> facebook</a></p>
          </div>&nbsp;
        </div>
        <div class="card">
                <img class="card-img-top" src="../assets/image/twitter.png" alt="Card image cap">
                <div class="card-body"><hr>
                        <p style="font-size: 20px">Follow us on<br> <a href="">twitter</a></p>
                </div>
              </div>
      </div><br><br><hr>
    </div>
