<div class="container pt-5" >
    <table class="table table-hover " style="background-color: rgb(196, 220, 250);">
        <thead class="thead-dark">
            <tr>
                <th>Course Name</th>
                <th>Course Duration</th>
                <th>Course Fees</th>
            </tr>
        </thead>
        <tbody *ngFor="let course of searchedResults">
            <tr>
                <td>{{course.cName}}</td>
                <td>{{course.cDuration}}</td>
                <td>{{course.cFees}}</td>
            </tr>
        </tbody>
    </table>
</div>