<div class="container  pt-5" style="text-align: center">
    <h1>About Metor-Hub</h1><hr>
    <p style="font-size:30px; font-family: cursive;">"We are India's largest learning platform"</p><br><br>
    <p style="font-size:20px">Mentor-Hub is one of the world’s leading certification training providers. 
        We partner with companies and individuals to address their unique needs,providing training and coaching that helps working professionals achieve their career goals.Our vision is to partner with the brightest minds and have courses on every possible topic in multiple languages so the whole world can benefit from these courses.
        India is home to 19% of the world's youth and we are empowering them to take on the world in a manner that classrooms will never do.</p><br><br><hr><br>
    
    <div class="row">
        <div class="col-sm-3">
            <img class="rounded-circle" src="../assets/image/professionals.jpg" alt="Generic placeholder image" width="150" height="150"><br><br>
            <h3>1,000,000+ Professionals Trained</h3>
        </div>
        <div class="col-sm-3">
            <img class="rounded-circle" src="../assets/image/trainers.jpg" alt="Generic placeholder image" width="150" height="150"><br><br>
            <h3>2,000+ Qualified Trainers</h3>
        </div>
        <div class="col-sm-3">
            <img class="rounded-circle" src="../assets/image/learning.png" alt="Generic placeholder image" width="150" height="150"><br><br>
            <h3>400+ Courses</h3>
        </div>
        <div class="col-sm-3">
            <img class="rounded-circle" src="../assets/image/global.png" alt="Generic placeholder image" width="150" height="150"><br><br>
            <h3>40+ Global Accreditations</h3>
        </div>
    </div><hr>


</div>
