<app-student-dashboard></app-student-dashboard>

<div class="container pt-3" >
        <h1 style="text-align: center">Ongoing Courses</h1><hr>
        <table class="table table-hover " style="background-color: white">
            <thead class="thead-dark">
                <tr>
                    <th>Course Name</th>
                    <th>Course Duration</th>
                    <th>Course Fees</th>
                    <th>Mentor Name</th>
                    <th>Course Status</th>
                </tr>
            </thead>
            <tbody *ngFor="let course of courses">
                <tr>
                    <td>{{course.cName}}</td>
                    <td>{{course.cDuration}}</td>
                    <td>{{course.cFees}}</td>
                    <td>{{course.mentorFname}} {{course.mentorLname}}</td>
                    <td><button *ngIf="course.courseStatus==5" (click)="Completed(course.id)" class="btn btn-danger">Incomplete</button>
                    <button *ngIf="course.courseStatus==6"  class="btn btn-success">Completed</button></td>
                </tr>
            </tbody>
        </table>
    </div>
