<app-mentor-dashboard></app-mentor-dashboard>
<div class="container pt-3" >
    <h1 style="text-align: center">My Skills</h1><hr>
    <table class="table table-hover " style="background-color: white">
        <thead class="thead-dark">
            <tr>
                <th>Course Name</th>
                <th>Course Duration</th>
                <th>Course Fees</th>
            </tr>
        </thead>
        <tbody *ngFor="let skill of skills">
            <tr>
                <td>{{skill.cName}}</td>
                <td>{{skill.cDuration}}</td>
                <td>{{skill.cFees}}</td>
            </tr>
        </tbody>
    </table>
</div>