
  header.masthead {
    position: relative;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
    .overlay {
      position:absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0.3;
    }
    h1 {
      font-size: 2rem;
    }
    .carousel-caption {
      bottom: 14rem;
      z-index: 10;
      left: 5rem;
    }
    .Courses .col-lg-4 {
      margin-top:3rem;
      text-align: center;
      color:black;
    }
    .Courses h2 {
      font-weight: 400;
      color: black;
    }
    .Courses .col-lg-4 p {
      margin-right: .75rem;
      margin-left: .75rem;
    }
    .Courses p{
      font-size: 1.5rem;
    }

  